<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="logging.log4j2.test" level="trace">
            <!--<AppenderRef ref="Stdout"/>-->
        </Logger>
        <Logger name="org.eclipse.jetty" level="ERROR" additivity="false">
            <AppenderRef ref="Stdout"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="Stdout"/>
        </Root>
    </Loggers>
</Configuration>